@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html.dark :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  transition: background-color 1s ease, color 1s ease;
}

body {
  color: rgb(var(--foreground-rgb)) !important;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)) !important;
}

html.dark body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)) !important;
  color: rgb(var(--foreground-rgb)) !important;
}

html.dark #hero,
html.dark #competences,
html.dark #experiences {
  background-color: rgb(15, 23, 42) !important; /* Tailwind gray-800 */
}

html.dark #presentation,
html.dark #projets,
html.dark #formations {
  background-color: rgb(30, 41, 59) !important; /* Tailwind gray-900 */
}

a {
  text-decoration: none;
  color: inherit;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.skill-icon img {
  filter: grayscale(100%);
  transition: filter 0.1s ease;
}

.skill-icon:hover img {
  filter: grayscale(0%);
}

.tool-icon img {
  filter: grayscale(100%);
  transition: filter 0.1s ease;
}

.tool-icon:hover img {
  filter: grayscale(0%);
}

.experience-card {
  position: relative;
}

.experience-point {
  background: #d1d5db; /* Tailwind gray-300 */
}

.experience-card:nth-child(even)::before {
  left: auto;
  right: 50%;
  transform: translateX(50%);
}

.experience-card:nth-child(odd)::before {
  left: 50%;
  transform: translateX(-50%);
}

.social-media img {
  filter: grayscale(100%);
  transition: filter 0.1s ease;
}

.social-media:hover img {
  filter: grayscale(0%);
}